<!-- in app.component.html -->
<div fxLayout="row wrap" fxLayoutGap="2%" class="row-container">
    <div fxFlex="32" class="mat-elevation-z8">
        <app-bars></app-bars>
    </div>
    <div fxFlex="32" class="mat-elevation-z8">
        <app-step-chart></app-step-chart>
    </div>
    <div fxFlex="32" class="mat-elevation-z8">
        <app-pie></app-pie>
    </div>
</div>
<div class="row-container" fxLayout="row" fxLayoutGap="2%">
    <div fxFlex="32" class="mat-elevation-z8">
        <app-gauge></app-gauge>
    </div>
    <div fxFlex="32" class="mat-elevation-z8">
        <app-kagi></app-kagi>
    </div>
</div>