<div id="app_container" class="nav-container">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="navmenu.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="app-name">Alfatec Test</h1>
            <span class="spacer"></span>
            <mat-icon>favorite</mat-icon>
            <mat-icon>delete</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #navmenu mode="side" opened>
            <mat-nav-list class="nav-list">
                <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon [matTooltip]="Home" matTooltipPosition="right">dashboard</mat-icon><span>Dashboard</span></a>
                <a mat-list-item routerLink="list-user" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">search</mat-icon><span>Consulta</span></a>
                <a mat-list-item routerLink="list-user" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">widgets</mat-icon><span>Activos</span></a>
                <a mat-list-item routerLink="list-user" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">assignment</mat-icon><span>Evaluación</span></a>
                <a mat-list-item routerLink="list-user" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">trending_up</mat-icon><span>Indicadores</span></a>
                <a mat-list-item routerLink="tasks" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Tareas" matTooltipPosition="right">calendar_today</mat-icon><span>Tareas</span></a>
                <a mat-list-item routerLink="list-user" routerLinkActive="active">
                    <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">announcement</mat-icon><span>Noticias</span></a>

            </mat-nav-list>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>

    </mat-drawer-container>
</div>